{% load static %}
{% load plotly_dash %}        
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>sleep</title>
      <link rel="stylesheet" type="text/css" href="{% static '/css/oura_sleep.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body class="page">
      <div id="titlediv">
            <div id="homebutton">
                  <a href="{% url 'home'%}">
                        <img src="../../../static/pics/home.png" alt="homebutton">
                  </a>
            </div>
            <div id="homebutton">
                  <a href="{% url 'oura' %}">
                        <img src="../../../static/pics/arrow.png" alt="homebutton">
                  </a>
            </div>
            <div id="header">
                  <h1>oura sleep</h1>
            </div>
      </div>

      <div id="settings">
            <form action="" method="POST">
                  {% csrf_token %}  
                  <input type="date" name="sleep_date" id="sleep_date" value="{{ date }}">
                  <input type="submit" id="submit" name="submit" value="Submit">
            </form>
      </div>
      <div id="current_values">
                  {% for element in data %}
                  <div id="measurements">
                        <form action="" method="post" class="sleep_buttons">
                              {% csrf_token %}
                              <button class="sleep_buttons" name="button" value="{{ element.name }}">
                              <div id="value_title">
                                    {{element.name}}
                              </div>
                        </form>
                        </button>
                        <div id="value">
                              {{element.value}}
                        </div>
                  </div>      
                  {% endfor %}
      </div>

      <div id="canvas">
            <div id="canvas_title">
                  {{ measurement }} of the last 10 days
            </div>
            <canvas id="myChart" width="956" height="300"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                  labels: [{% for element in last_7 %}'{{ element.timestamp }}', {% endfor %}],
                  datasets: [{
                        data: [{% for element in last_7 %}'{{ element.data }}', {% endfor %}],

                        borderWidth: 1,
                        borderColor: 'rgba(0, 160, 0, 1)',
                        borderWidth: 5,
                        backgroundColor: 'rgba(0,0,0,0)'
                  }]
            },
            options: {
                  layout: {
                        padding: 20
                  },
                  plugins: {
                        title: {
                              display: true,
                              color: 'rgba(255,255,255,0)'
                        }
                  },
                  legend: {
                        display: false
                  },
                  elements: {
                        point : {
                              radius: 0
                        }
                  },
                  scales: {
                        xAxes: [{
                              ticks: {
                                    display: false,
                                    autoSkip: false,
                                    maxRotation: 90,
                                    minRotation: 90,
                                    fontSize: 20,
                                    fontColor: 'rgba(255,255,255,1)'
                              },
                              gridLines: {
                                    display: false
                              }
                        }],
                        yAxes: [{
                              ticks: {
                                    fontSize: 20,
                                    fontColor: 'rgba(255,255,255,1)'
                              }, 
                              gridLines: {
                                    color: 'rgba(255,255,255,1)'
                              }
                        }]

                  }
            }
            });
            </script>
      </div>

</body>
</html>