body {
      width: 960px;
      margin: auto;
      background-image: url("../pics/background.jpg");
}

a {
      text-decoration: none;
}

a#tile {
      width: 472px;
      height: 472px;
      margin: 1px;
      border: 5px solid transparent;
      box-sizing: border-box;
      float: left;
      background-color: rgba(82,82,82,0.4);
}

h1 {
      margin: auto;
}

a#tile:hover {
      border: 5px solid rgba(255,255,255,0.7);
}

h2 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      padding-top: 217px;
      margin: 0px;
      text-align: -webkit-center;
}

a#tile {
      color: rgba(255,255,255,0.7)
}

a:visited, #tile {
      color: rgba(255,255,255,0.7);
}